<!DOCTYPE html>
<html>
<body>
<p>Hello dear ${user.name}</p>
<p>You recently created an account in ${config.siteName}.</p>
<p>Please make sure to activate your account by clicking the link below:</p> 
<p><a href="${config.siteAddress}/activate/${user.activationCode}">${config.siteAddress}/activate/${user.activationCode}</a></p>
<p>By activating your account you will be able to:</p>
<ul>
	<li>Play minesweeper online,</li>
	<li>Register records,</li>
	<li>Save your matches,</li>
	<li>Resume your matches.</li>
</ul>

<p>We hope that you enjoy your stay with us! :-)</p>
<p>The ${config.siteName} Crew</p>
</body>
</html>
